<app-nav-bar></app-nav-bar>

<p-table
  [value]="products"
  styleClass="p-datatable-gridlines"
  responsiveLayout="scroll"
  [paginator]="true"
  [(rows)]="rows"
  [showCurrentPageReport]="true"
  [(first)]="first"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowsPerPageOptions]="[5, 10, 25, 50]"
  [(selection)]="selectedProducts"
  dataKey="name"
  [rowSelectable]="isRowSelectable"
>
  <ng-template pTemplate="caption">
    <div class="mb-3" class="flex align-items-center justify-content-between">
      <p-button
        type="button"
        icon="pi pi-chevron-left"
        (click)="prev()"
        [disabled]="isFirstPage()"
        styleClass="p-button-text"
      ></p-button>
      <p-button
        type="button"
        icon="pi pi-refresh"
        (click)="reset()"
        styleClass="p-button-text"
      ></p-button>
      <p-button
        type="button"
        icon="pi pi-chevron-right"
        (click)="next()"
        [disabled]="isLastPage()"
        styleClass="p-button-text"
      ></p-button>
    </div>
  </ng-template>
  <!-- #######################################################################    HEADER -->
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem">
        <p-tableHeaderCheckbox
        ></p-tableHeaderCheckbox>
      </th>
      <th class="myBk" pSortableColumn="name">
        Name <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th class="myBk" pSortableColumn="price">
        Price <p-sortIcon field="price"></p-sortIcon>
      </th>
      <th class="myBk" pSortableColumn="quantity">
        Quantity <p-sortIcon field="quantity"></p-sortIcon>
      </th>
      <th class="myBk" pSortableColumn="description">
        Description <p-sortIcon field="description"></p-sortIcon>
      </th>
    </tr>
    <!-- #######################################################################    FILTRI -->
    <tr>
      <th></th>
      <th>
        <p-columnFilter type="text" field="name"></p-columnFilter>
      </th>
      <th class="flex justify-content-center align-items-center">
          Filter by:
          <p-columnFilter type="numeric" field="price" display="menu" currency="USD"></p-columnFilter>
      </th>
      <th class="flex justify-content-center align-items-center">
          Filter by:
          <p-columnFilter type="numeric" field="quantity" display="menu" ></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="description"></p-columnFilter>
      </th>
    </tr>
  </ng-template>
  <!-- #######################################################################    BODY -->
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>
        <p-tableCheckbox [value]="product" [disabled]="isRowQuantity(product)"></p-tableCheckbox>
      </td>
      <td>{{ product.name }}</td>
      <td>{{ product.price | currency: "USD" }}</td>
      <td>{{ product.quantity }}</td>
      <td>{{ product.description }}</td>
    </tr>
  </ng-template>

  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
      In total there are {{ products ? products.length : 0 }} products.
    </div>
  </ng-template>
</p-table>
