<app-nav-bar></app-nav-bar>

<!-- <p-confirmDialog #cd [style]="{width: '50vw'}" [transitionOptions]="'200ms'">
    <ng-template pTemplate="header" icon="pi pi-exclamation-triangle">
        <h3>Header Content</h3>
    </ng-template>
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog> -->
<p-sidebar [(visible)]="display" position="right">
    Content
    <p-fileUpload name="myfile[]" url="http://54.147.129.18/"></p-fileUpload>
</p-sidebar>

<p-button type="text" (click)="display = true" icon="pi pi-plus" label="Show"></p-button>








<div #scroll class="scroll-ele">

  <p-confirmDialog
    header="Total item after delete {{ this.products.length -1 }}"
    icon="pi pi-exclamation-triangle"
  ></p-confirmDialog>
  <p-dialog
    header="Total item: {{ this.products.length }}"
    [(visible)]="displayAdd"
    [style]="{ width: '270px' }"
  >
    <!-- position="left" -->
    <!-- <p-dropdown appendTo="body"></p-dropdown> -->
    Add New Product !
  </p-dialog>

  <button (click)="add()" class="btnAdd pi pi-fw pi-calendar-plus"></button>
  <button (click)="btnDown()" class="btnDown pi pi-fw pi-arrow-down"></button>
  <button (click)="btnUp()" class="btnUp pi pi-fw pi-arrow-up"></button>

  <p-dataView [value]="products">
    <ng-template let-product pTemplate="listItem">
      <div class="row">
        <div class="md:col-4 col-12">
          <div
            class="product-grid-item card"
            style="margin-bottom: 0px; margin-right: 2px"
          >
            <form #myForm="ngForm">
              <div class="product-grid-item-top">
                <div>
                  <i class="pi pi-tag product-name-icon"></i>
                  <input
                    [disabled]="product.editable == 'edit'"
                    type="text"
                    class="product-name"
                    [(ngModel)]="product.name"
                    name="name"
                    required
                  />
                </div>
              </div>
              <div class="product-grid-item-content">
                <input
                  [disabled]="product.editable == 'edit'"
                  type="text"
                  class="product-description"
                  [(ngModel)]="product.description"
                  name="description"
                  required
                />
              </div>
              <div class="product-grid-item-bottom">
                <div>
                  <i class="pi pi-dollar"></i>
                  <input
                    [disabled]="product.editable == 'edit'"
                    type="text"
                    class="product-price"
                    [(ngModel)]="product.price"
                    name="price"
                    required
                  />
                </div>

                <input
                  [disabled]="product.editable == 'edit'"
                  type="text"
                  class="product-quantity"
                  [(ngModel)]="product.quantity"
                  name="quantity"
                  required
                />
              </div>

              <button class="btnCrud" type="button" (click)="edit(product)">
                {{ product.editable }}
              </button>
              <button class="btnCrud" type="button" (click)="delete(product)">
                Remove
              </button>
            </form>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
