.product-name {
  font-size: 1.5rem;
  font-weight: 700;

}

.product-description {
  margin: 0 0 1rem 0;
  text-align: center;
}

.product-name-icon {
  vertical-align: middle;
  margin-right: 0.5rem;
}

.product-quantity,
.product-price {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  align-self: flex-end;
  width: 100px;
  text-align: center;
}

.product-grid-item {
  border: 1px solid #dee2e6;
}

.product-grid-item-top,
.product-grid-item-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-grid-item-content {
  text-align: center;
}

.card {
  padding: 2rem;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 2rem;
}

.btnUp{
  background-color: #d8ee74;
  color: rgb(255, 0, 0);
  height: 80px;
  width: 80px;
  border-radius: 100%;
  position: fixed;
  bottom: 250px;
  right: 25px;
  z-index: 2;
  font-size: 4rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.btnAdd {
  background-color: #d8ee74;
  color: rgb(255, 0, 0);
  height: 80px;
  width: 80px;
  border-radius: 100%;
  position: fixed;
  bottom: 150px;
  right: 25px;
  z-index: 2;
  font-size: 4rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.btnDown{
  background-color: #d8ee74;
  color: rgb(255, 0, 0);
  height: 80px;
  width: 80px;
  border-radius: 100%;
  position: fixed;
  bottom: 50px;
  right: 25px;
  z-index: 2;
  font-size: 4rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.btnUp:hover, .btnDown:hover, .btnAdd:hover{
  border-color: #91a3fb;
  background: #91a3fb;
  color: #1c2127;
}

.btnAdd:enabled:active:hover {
    background: #7d92fb;
    color: #1c2127;
    border-color: #7d92fb;
}

.btnAdd:focus {
    box-shadow: 0 0 0 2px #1c2127, 0 0 0 4px rgb(165 180 252 / 70%), 0 1px 2px 0 rgb(0 0 0 / 0%);
    background: #7d92fb;
    color: #1c2127;
    border-color: #7d92fb;
}

.scroll-ele{
  height: 800px;
  overflow-y: scroll;
}
