<form id="login-form" class="container" [formGroup]="myForm">
  <div>
    <input
      type="text"
      id="username"
      formControlName="username"
      placeholder="Username"
      [ngClass]="{ error: submitted && myForm.controls.username.errors }"
    />
  </div>
  <div>
    <input
      type="password"
      id="password"
      placeholder="Password"
      formControlName="password"
    />
  </div>
  <button
    class="loginbtn"
    type="submit"
    [disabled]="myForm.invalid"
    (click)="reactForm()"
  >
    Login
  </button>
</form>
