
<nav>
  <ul>
    <li><a routerLink="/Login" routerLinkActive="active">Login</a></li>
    <li><a routerLink="/Disambiguation" routerLinkActive="active">Disambiguation</a></li>
    <li><a routerLink="/Admin" routerLinkActive="active">Admin</a></li>
  </ul>
</nav>

{{currentRoute}}

<!-- <div *ngIf="((currentRoute!='/') || (currentRoute!='/Login'))"> -->

<div *ngIf="currentRoute!='/'">
  <div *ngIf="currentRoute!='/Login'">
      <app-nav-bar></app-nav-bar>
  </div>
</div>

<router-outlet></router-outlet>
