<p-menubar [model]="items">
  <ng-template pTemplate="end">
    <div id="search-component">
      <input
        #searchBox
        type="text"
        pInputText
        placeholder="Search"
        (input)="search(searchBox.value)"
      />


      <ul class="search-result dropdown">
        <li *ngFor="let hero of resultSearch" class="dropdown-content">
          <a>
            {{ hero }}
          </a>
      </li>
    </ul>


    <p-dropdown [options]="products" optionLabel="id" >

    </p-dropdown>

    </div>
  </ng-template>
</p-menubar>
